<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Coin Lookup</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= form_tag home_search_path, :method => 'POST' do %>
        <%= text_field_tag 'crypto_name', nil, placeholder: 'Enter Crypto Name', size: 50 %>
        <%= submit_tag 'Lookup Crypto' %>
      <% end %>
    </div>
  </div>
</div>

<br/><br/>

<% if @name %>
  <% for x in @coin_search %>
    <% if @name == x["name"] %>
      <%= x["name"] %> <br/><br/>
      Rank: <%= x["rank"] %> <br/><br/>
      <%= x["symbol"] %>: $<%= x["price_usd"] %><br/>
    <% end %>
  <% end %>
<% end %>
